# Binaries
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Build directories
bin/
build/
dist/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Env files
.env
.env.*

# Vendor (if not using Go modules)
vendor/

/storage